/4-periodo/estrutura-de-dados/aulas/Aula007-ED/nbproject/private/
/4-periodo/estrutura-de-dados/aulas/Aula09-ED/nbproject/private/
/4-periodo/estrutura-de-dados/aulas/Aula09-ED/build/
/4-periodo/estrutura-de-dados/lista-de-exercicios/lista-de-exercicios-03/nbproject/private/
/4-periodo/estrutura-de-dados/lista-de-exercicios/lista-de-exercicios-03/build/
/4-periodo/estrutura-de-dados/atividades/atividade03-ed/nbproject/private/
/4-periodo/estrutura-de-dados/atividades/Aula12-ED/nbproject/private/
/4-periodo/estrutura-de-dados/atividades/Aula12-ED/build/
/4-periodo/estrutura-de-dados/atividades/atividade03-ed/build/
/4-periodo/estrutura-de-dados/avaliacoes/avaliacao02/nbproject/private/
/4-periodo/estrutura-de-dados/atividades/AtividadeExtra2/nbproject/private/
/4-periodo/estrutura-de-dados/atividades/AtividadeExtra2/build/
/4-periodo/estrutura-de-dados/aulas/Aula12-ED/build/
/4-periodo/estrutura-de-dados/aulas/Aula12-ED/nbproject/private/
/4-periodo/estrutura-de-dados/aulas/PilhaAula/nbproject/private/
/4-periodo/estrutura-de-dados/aulas/PilhaAula/build/
/4-periodo/estrutura-de-dados/aulas/PilhasDinamicas/nbproject/private/
/4-periodo/estrutura-de-dados/aulas/PilhasDinamicas/build/
/4-periodo/estrutura-de-dados/atividades/lista-atividade-04/nbproject/private/
/4-periodo/estrutura-de-dados/atividades/lista-atividade-04/build/
